body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

/* Component Custom Styles */

.c-globalheader img {
  max-width: 200px;
}

.c-container {
  max-width: 500px;
  margin: 67px auto 0;
}

/* Helpers */

.c-blue { color: #2E68B2; }
.bc-blue { background-color: #2E68B2; }
