body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

.c-globalheader {
  background-color: #2E68B2;
}

.c-globalheader img {
  max-width: 200px;
}

.c-container {
  max-width: 500px;
  margin: 67px auto 0;
}
